<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rb.android.regularTasksWidget"
    android:versionCode="20160301"
    android:versionName="1.1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk tools:ignore="OldTargetApi" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.rb.android.regularTasksWidget.GApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CDK.Application.Theme" >
        
        <activity
            android:name="com.rb.android.regularTasksWidget.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/CDK.Theme.NoTitleBar.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Listen to scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="opencdk" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.rb.android.regularTasksWidget.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        
        <activity android:name="com.rb.android.regularTasksWidget.activity.NewsListActivity" />
        <activity android:name="com.rb.android.regularTasksWidget.activity.NewsDetailActivity" />
        
        
        <!-- ### Widget Start -->
        <receiver android:name="com.rb.android.regularTasksWidget.widget.NewsAppWidgetProvider"
            android:exported="false"
            android:icon="@drawable/ic_launcher" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_xml_news" />

            <intent-filter>
                <!-- 系统自动回调, 必须 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                
            	<action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_MANUAL" />
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_FUTURE_MANUAL" />
            	<action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_AUTO" />
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_JUMP_LISTITEM" />
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_JUMP_LOGO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rb.android.regularTasksWidget.widget.NewsWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" >

            <intent-filter>
                <!-- widget手动刷新 -->
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_MANUAL" />
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_FUTURE_MANUAL" />
                <!-- widget自动刷新 -->
                <action android:name="com.rb.android.regularTasksWidget.action.APPWIDGET_REFRESH_AUTO" />
            </intent-filter>
        </service>
        
        <!-- DaemonReceiver 服务广播 -->
        <receiver
            android:name="com.rb.android.regularTasksWidget.widget.DaemonReceiver"
            android:permission="com.rb.android.regularTasksWidget.permission.APP_WIDGET"
            android:exported="true" >
            <intent-filter android:priority="0x6fffffff" >
                
                <action android:name="com.rb.android.regularTasksWidget.action.DAEMON_RECEIVER" />
                
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强widget service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强widget service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x6fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
		<!-- ### Widget End -->
		
    </application>

</manifest>